
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto',sans-serif;
    
}
/*---------------headder-------------- */
.material-symbols-outlined{
    color: rgb(96, 96, 96);
}
.header{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 15px;
}
.headerleft{ 
     display: flex;
     align-items: center;

}
.headerleft img{
    width: 100px;
    margin-left: 15px;
}
.header i{ 
    padding: 0;
    cursor: pointer;

}
.headercenter form {
   border: 1px solid #ddd;
   height: 35px;
   margin: 0;
   padding: 0;
   display: flex;

                
     
}
.headercenter input{
    width: 500px;
    padding: 10px;
    margin: 0;
    border-radius: 0;
    border: none;

}
.headercenter button{
    padding: 0;
    margin: 0;
    height: 100%;
    border: none;
    border-radius: 0;

}
/*--------------mainbody start----------------*/
.mainbody{


    height: calc(100vh - 70px);
    display: flex;
    overflow: auto;

}
/*--------------side bar------------*/
.sidebar{
    height: 100%;
    width: 230px;
    background-color: white;
    overflow-y: scroll;
}
.sidebarcatogories{

    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.sidebarindivijuals{
    display: flex;
    align-items:center ;
    padding: 12px 25px;


}
.sidebarindivijuals span{  
    margin-left: 15px;
}
.sidebarindivijuals:hover{
    background: #e5e5e5;
    cursor: pointer;
}
.sidebar::-webkit-scrollbar-track{
    display: none;
}
hr{height: 1px;
   background-color: #e5e5e5;
   border: none;
}
.mod1{
    font-weight: 500;
    
}
/* ------videos------ */
.videos{

    background-color: #f9f9f9;
    width: 100%;
    height: 100%;
    padding: 15px 25px;
    border-top: 1px solid #ddd;
    overflow-y: scroll;
}
.videocontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.video{

    width: 310px;
    margin-right: 10px;
    margin-bottom: 3px;
}
.videothumbnil{ 

    width: 100%;
    height: 170px;

}
.videothumbnil img{
    object-fit: cover;
    height: 100%;
    width: 100%;

}
.authuor img{  object-fit: cover;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    

}